@keyframes gradientAnimation {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .gradientText {
    background: linear-gradient(to right, #8f14e6, #e614dc, #e61453, #e68414, #e6e614);
    background-size: 300% 300%;
    animation: gradientAnimation 4s linear infinite;
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  